

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo{
  height: 35px;
}

nav img {
  height: 25px;
  margin-right: 20px;
  opacity: 0.8;
  transition: height 0.2s ease, opacity 0.2s ease;
}

header nav {
display: flex;
flex-direction: row;
align-items: center;
}

header nav ul {
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

header nav ul li {
margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

nav img:hover {
  height: 35px;
  opacity: 1;
  } 

header div{
 color: wheat;
 font-size: 12px;
 margin-left: 150px;
}

header span{
  background: linear-gradient(90deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
}

@media screen and (max-width: 600px){
  header{
    font-size: 10px;
  }
  nav img {
    margin-right: 3px;
    height: 20px;
  }
  header div{
    color: wheat;
    font-size: 6px;
    margin-left: 10px;
   }
   header span{
    background: linear-gradient(90deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9px;
    margin-left: 5px;
  }
  
}